.form {
    display: flex;
    flex-flow: column;
    width: 50%;
    align-items: center;
    background-color: #173b28;
    background-image: url("https://media.istockphoto.com/photos/green-chalkboard-background-picture-id1150072676?k=20&m=1150072676&s=170667a&w=0&h=rXJox0Qx3Q16sxwyhXBTDczqb1NOeAs7rvh0Lhn_xrg=");
    border:10px solid rgb(170, 146, 114);
    border-radius: 0.1em;
    padding: 2em 2em;
    margin: 2em 2em;
}
.form__element {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 80%;
    max-height: 500px;
    max-width: 700px;
}
.form__element > input {
    border: none;
    padding: 1em 1em;
    margin: 1em;
    font-size: calc(12px + 0.5vw);
}
.form__element > label {
    align-items:center;
    text-align:center;
    font-size: calc(12px + 0.5vw);
    font-weight: bolder;
    color:rgb(255, 255, 255);
}
#btnAddTodo {
    justify-content: center;
    border: none;
    border-radius: 3em;
    padding: 1em 1em;
    background-color: rgb(252, 255, 65);
    color: rgb(73, 73, 73);
    font-size: calc(10px + 0.5vw);
    font-weight: bolder;
    margin: 1em 1em;
}
.main__header {
    text-align:center;
    margin-left: 2em;
    color:rgb(252, 255, 65);
}
@media only screen and (min-width: 768px) {
    .form {
        max-width: 400px;
    }
}
